p{
    border: 1px solid navy;
    text-align: center;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  border-spacing: 5px;
}