.text-center{
    line-height: 1;
    text-align: center;
    font-size: 3.75rem;
    margin-left: auto;
    margin-right: auto;
}
p{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: "Cera Pro";
}