<h2>Reader Subscribe Book List</h2>
<table border="1">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Title</th>
            <th>Price</th>
            <th>Author Name</th>
            <th>category</th>
            <th>Content</th>
            <th>Published Date</th>
            <th>Publisher</th>
            <th>Updated Date</th>
            <!-- <th>Action</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of books;let i=index">
            <td>{{i+1}}</td>
            <td>{{b.bookTitle}}</td>
            <td>{{b.price}}</td>
            <td>{{b.authorName}}</td>
            <td>{{b.catogory}}</td>
            <td>{{b.contents}}</td>
            <td>{{b.published}}</td>
            <td>{{b.publisher}}</td>
            <td>{{b.updateDate}}</td>
            <!-- <td> <button type="submit" (click)="blockBook(b.bookId)">Block Book</button></td> -->

            <!-- </div> -->
        </tr>
    </tbody>
</table>